@import '../../vars.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
  padding: 10px 20px;

  font-size: 32px;
  border-bottom: 5px dashed var(--color-violetDark);
}

.logo {
  font-size: 48px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #7774e1;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--color-violetDark), 2px 2px 0 var(--color-violetDark),
    3px 3px 0 var(--color-violetDark), 4px 4px 0 var(--color-violetDark),
    5px 5px 0 var(--color-violetDark), 6px 6px 0 var(--color-violetDark);
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  text-shadow: 1px 1px 0 var(--color-violetDark), 2px 2px 0 var(--color-violetDark),
    3px 3px 0 var(--color-violetDark);
}
